



/* 게시판 내용 속성 */
.board .service-board .panel .panel-heading{
  border: 1px solid blue;
  
}

.board .service-board .panel .panel-body{
  /* border-bottom: 1px solid rgb(0, 0, 0, 0.2); */
  
}
.board .service-board .board_button_set{
  text-align: right;
  padding: 8px;

  margin-top: 10%;
}

.board .service-board .board_button_set .board-button{
  display: inline;
  padding: 8px;

}

/* 버튼 스타일 */





