/*  */
@import url(default.css);

header{border-top: 3px solid #00d344 ;}
.header .wrap{border-bottom: 1px solid #777;}
.header .wrap .top {width: 1008px; margin: 0 auto; }

.header .top{overflow: hidden;}
.header .top .top_left{float: left; color: #999; font-size: 15px;
font-weight: bold;
padding: 9px 7px;}
.header .top .top_right{float: right;}

.top_right > ul > li {display: inline; border-left: 1px solid ;}

.top_right > ul > li:nth-child(1){
    /* border: 1px solid red; */
    border: none;
}
.top_right > ul > li > a{
    display: inline-block; 
    font-size: 14px;
    padding: 9px 7px;
    color: #777;
    text-decoration: none;

}
/* 멜론 이미지 가져와서 버튼 넣어보기 */
.top_right > ul > li > a > span.m1{
    /* span태그이면서 클래스가 m1인 것 선택하기 */

    background-image: url(img/head_menu_201014.png);
    background-repeat: no-repeat;

    background-position: 0px -57px;
    width: 75px;
    height: 20px;
    display: block;

    text-indent: -999px;
}

/* 로고 넣기 */
.header .mid {overflow: hidden; width: 1008px; margin: 0 auto;}
.header .mid .mid_left{float: left; overflow: hidden;}
.header .mid .mid_right{float: right;}

.header .mid fieldset {
    width: 330px;
    height: 40px;
    margin: 36px 0 0 11px;
    background-image:  url(img/bg_cmn_search322.png);
    background-repeat: no-repeat;
    border: none;

}

.mid_left > input{
    float:left;
    margin: 7px 0 0 18px;
    
    width: 249px;
    /* width가 적용이 안되면 블럭속성으로 바꿈 */
    display: block;
    height: 20px;
    border: none;

    padding: 4px;
}

.mid_left > button {
    float: right;
    background-image: url(img/btn_search_bar.png);
    width: 45px;
    height: 40px;
    background-repeat: no-repeat;
    border: none;

    /* 글자 구석으로 안보이게 날리기 */
    text-indent: -9999px;
    background-color: #fff;
}

.header .bottom{margin: 0 auto; overflow: hidden; width: 1008px;}
.header .bottom .left {float: left; }
.header .bottom .left li {display: inline; margin-left: 15px;}
.header .bottom .left li a { 
    text-decoration: none; 
    color: #000; 
    font-size: 20px;
    font-weight: bold;

    display: inline-block;
    height: 40px;
    line-height: 40px;
    
}
.header .bottom .right {float: right; }
.header .bottom .right li a {
    text-decoration: none; 
    text-align: right; 
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}

/* 본문 */

.section .wrap {width: 1008px; margin: 0 auto;}

.wrap .content {overflow: hidden;}
.wrap .content .list_wrap{float: left; width: 480px; border: 1px solid #777;}
.wrap .content .slide_wrap{
    float: left; width: 236px; border: 1px solid #777;
    margin-left: 2px;

}
.wrap .content .user_wrap{
    float: left; width: 280px;border: 1px solid #777;
    margin-left: 4px;
}


.list_wrap ul {overflow: hidden;}
.list_wrap ul li{float: left; width: 33.3333%;}

.list_wrap ul li > a {display: inline-block; position: relative;}
.list_wrap ul li > a > .singer {position: absolute; left: 0; bottom: 4px; width: 100%; 
    background-color: rgb(0, 0, 0, 0.7);
    height: 25px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    
}

.list_wrap ul li {position: relative;}
.list_wrap ul li .hover_content {
    position: absolute; left: 0; top: 0;
    width: 156px;
    height: 156px;
    background-color: rgb(0, 0, 0, 0.7);

    opacity: 0;

    /* 속성, 주기-변하는 시간 , 타이밍, 딜레이 */
    transition: opacity 0.5s ease-in-out;

}
.list_wrap ul li .hover_content a{
    color: #fff;
    text-decoration: none;
    width: 156px;
    height: 156px;

    display: block;
    text-align: center;
    margin-top: 50px;
}

/* li에 hover 하면 .hover_content 투명도는 1이 된다 */
.list_wrap ul li:hover > .hover_content{
    opacity: 1;
}

.login_wrap {border: 1px solid #e0e0e0; 
    background-color: #ffffff;
    height: 115px;
    padding: 10px;
}
.login_wrap .top {overflow: hidden; margin-top: 30px;}
.login_wrap .top > .left{float: left; font-size: 12px; color: #939393;}
.login_wrap .top > .right{float: right; font-size: 12px; color: #939393;}
.login_wrap > button {
    /* button design */
    width: 100%;
    background-color: #00d344;
    border: none;
    color: #fff;
    font-weight: 700;
    height: 35px;
    line-height: 5px;

    padding: 20px;
    margin-top: 5px;

    cursor: pointer;
}

.user_wrap > .promotion_wrap {
    margin-top: 10px;
}




